{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ category.name }}</h1>

    <p><strong>Number of items in this category: </strong>{{ category.product_set.count }}</p>
    
    <div style="margin-left:20px;margin-top:20px">
        <h4>Products for sale</h4>

        {% for product in category.product_set.all %}
            <hr>
            <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a> (Category: {{category.name}}) ${{ product.price }}</p>
            <p>Sold by: <a href="{{ product.seller.get_absolute_url }}">{{ product.seller }}</a></p>
            <p> {{ product.description }} </p>
        {% endfor %}
    </div>

{% endblock %}





