{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ product.name }}</h1>

    <p><strong>Name: </strong>{{ product.name }}</p>
    <p><strong>Sold by: </strong> <a href="{% url 'user-shop' product.seller.username %}">{{ product.seller }}</a></p>
    <p><Strong>Price: </Strong>${{ product.price }}</p>
    <p><Strong>Item description: </Strong>{{ product.description }}</p>

    <p>Quantity available: {{ product.quantity_available }} | Quantity sold: {{ product.quantity_sold }}</p>
    <p><Strong>
        {% if product.category.all.count  == 1 %} Category: 
        {% elif product.category.all.count  > 1 %} Categories: 
        {% endif %}
        </Strong>
            {% for category in product.category.all %}
                <a href="{{category.get_absolute_url}}"> {{category}}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
    </p>
    {% if product.seller == logged_in_user %}
        <a href="{% url 'product-update' product.id %}">Update this product</a> | 
        <a href="{% url 'product-delete' product.id %}">Delete this product</a>
    {% elif product.delisted %}
        This item is no longer available.
    {% else %}
        <button>Add to cart</button>
    {% endif %}

{% endblock %}