{% extends "base_generic.html" %}

{% block content %}
  <h1>Marketplace Home</h1>
  <p>Welcome to Marketplace, a website develpoed by <em>Isabella, Samson and Nancy</em></p>
  <h2>Dynamic content</h2>
  <p>The marketplace has the following record counts:</p>
  <ul>
  	<li><strong>Users:</strong> {{num_users}}</li>
    <li><strong>Products:</strong> {{num_products}}</li>
    <li><strong>Orders:</strong> {{ num_orders }}</li>
    <li><strong>Shopping Carts:</strong> {{ num_shoppingcarts }}</li>
    <li><strong>Categories:</strong> {{ num_categories }}</li>
  </ul>
{% endblock %}

<!-- Add additional CSS in static file --> 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}">
